<div class="container-page">
  <h1 class="header">Usuários</h1>
  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-8 d-flex align-items-center justify-content-end gap-3">
        <div class="input-group mb-0 w-40">
          <input type="text" class="form-control" placeholder="Pesquise pelo nome ou e-mail" aria-label="Pesquise pelo nome ou e-mail" [(ngModel)]="searchValue" (keyup)="applyFilters()">
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon>search</mat-icon>
            </span>
          </div>
        </div>

        <select class="form-select form-select-sm" aria-label="Small select example" (change)="filterStatus($event)">
          <option value="" selected>Todos</option>
          <option value="Ativo">Ativo</option>
          <option value="Pendente">Pendente</option>
          <option value="Bloqueado">Bloqueado</option>
        </select>
      </div>

      <div class="col-4 d-flex justify-content-end align-items-center">
        <button type="button" class="btn" id="openModalBtn" style="background-color: #6691ff; color: white;" (click)="openUserFormDialog()">Novo usuário</button>
      </div>
    </div>
  </div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="avatarAndName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuários</th>
      <td mat-cell *matCellDef="let element" class="user-info">
        <img *ngIf="element.avatar" [src]="element.avatar" alt="Avatar" class="avatar-icon">
        <div *ngIf="!element.avatar" [ngStyle]="{'background-color': getAvatarColor(element.name + element.lastName)}" class="avatar-placeholder">
          {{element.name.charAt(0).toUpperCase()}}{{element.lastName.charAt(0).toUpperCase()}}
        </div>
        <div class="user-details">
          {{element.name}} {{element.lastName}}<br>{{element.email}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element" [class]="getStatusClass(element.status)">
        {{element.status}}
      </td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de criação </th>
      <td mat-cell *matCellDef="let element">
        {{element.creationDate | date:'dd/MM/yyyy'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastAccess">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Último acesso </th>
      <td mat-cell *matCellDef="let element">
        {{element.lastAccess ? (element.lastAccess | date: 'dd/MM/yyyy HH:mm') : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="changeStatus(element, 'Ativo')">Ativar</button>
          <button mat-menu-item (click)="changeStatus(element, 'Bloqueado')">Bloquear</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
