.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar-icon {
  margin-right: 10px;
}

.user-details {
  flex-grow: 1;
}

table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  text-align: left;
}
