<h2 mat-dialog-title>
  Adicionar usuário
  <span class="close-icon" (click)="onClose()"></span>
</h2>
<h4 style="padding-left: 30px;">Aqui você adiciona e configura os usuários que fazem parte da sua equipe</h4>
<mat-dialog-content class="">
  <form>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" id="lastName" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="telephone" class="form-label">Telefone</label>
        <input type="tel" class="form-control" id="telephone" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="email" class="form-label">E-mail corporativo</label>
        <input type="email" class="form-control" id="email" />
      </div>
    </div>
    <div class="mb-3">
      <label for="profiles" class="form-label">Perfis de acesso</label>
      <input type="text" class="form-control" id="profiles" />
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="language" class="form-label">Idioma</label>
        <input type="text" class="form-control" id="language" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="contactType" class="form-label">Contato preferencial</label>
        <div class="d-flex align-items-center justify-content-between mt-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="contactType" id="email" value="EMAIL">
            <label class="form-check-label" for="email">Email</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="contactType" id="telefone" value="TELEFONE">
            <label class="form-check-label" for="telefone">Telefone</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="contactType" id="todos" value="Todos" checked>
            <label class="form-check-label" for="todos">Todos</label>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
  <button mat-button class="btn btn-outline-primary btn-lg flex-fill mr-2" (click)="onClose()">Fechar</button>
  <button mat-button class="btn btn-primary btn-lg flex-fill ml-2">Enviar convite</button>
</mat-dialog-actions>
